{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>The Nutritionist Community</title>

<link rel="shortcut icon" href="{% static 'images/nutritionist-community-favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/nutritionist-community-favicon.png' %}" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Prata|Rubik:300,400,500,700&amp;display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" id="mce-u0" crossorigin="anonymous" referrerpolicy="origin" href="https://cdn.tiny.cloud/1/382khfplekigsvge48n7xakf5z7dkbp4d5lttx0np3pkti8q/tinymce/7.3.0-86/skins/ui/oxide/content.min.css">
<link rel="stylesheet" type="text/css" id="mce-u1" crossorigin="anonymous" referrerpolicy="origin" href="https://cdn.tiny.cloud/1/382khfplekigsvge48n7xakf5z7dkbp4d5lttx0np3pkti8q/tinymce/7.3.0-86/skins/content/default/content.min.css">
<link rel="stylesheet" type="text/css" id="mce-u2" crossorigin="anonymous" referrerpolicy="origin" href="https://cdn.tiny.cloud/1/382khfplekigsvge48n7xakf5z7dkbp4d5lttx0np3pkti8q/tinymce/7.3.0-86/plugins/mediaembed/content.min.css">
<link rel="stylesheet" type="text/css" id="mce-u3" crossorigin="anonymous" referrerpolicy="origin" href="https://cdn.tiny.cloud/1/382khfplekigsvge48n7xakf5z7dkbp4d5lttx0np3pkti8q/tinymce/7.3.0-86/plugins/pageembed/css/empa30.css">

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
<link href="{% static 'css/swiper.min.css' %}" rel="stylesheet">
<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'css/custom-animate.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<style id="mceDefaultStyles" type="text/css"></style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader"></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>

    <!-- Main Header-->
    <header class="main-header">
        <!-- Top bar -->
        <div class="top-bar theme-bg">
            <div class="auto-container">
                <div class="wrapper-box">
                    <div class="left-content">
                        <div class="text">We only have what we give... <a href="/donate" class="donate-box-btn">Donate Now.</a></div>
                    </div>
                    <div class="right-content">
                        <ul class="contact-info">
                            <li><span class="flaticon-mail"></span><a href="mailto:globalnutritioncommunity@gmail.com">globalnutritioncommunity@gmail.com</a></li>
                            <li><span class="flaticon-phone"></span><a href="tel:+2349064420665">+234 906 442 0665</a></li>
                        </ul>
                        <ul class="social-icon-one">
                            <li><a href="https://www.linkedin.com/company/the-global-nutrition-community/"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTM1MzI2Nzc5NzE0MjI3?story_media_id=3318712493667095326_63520600948&igsh=NTc4MTIwNjQ2YQ=="><span class="fa fa-instagram"></span></a></li>
                            <li><a href="https://x.com/T_G_N_C"><span class="bi bi-twitter-x"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="auto-container">
                <div class="wrapper-box">
                    <div class="logo-column">
                        <div class="logo-box">
                            <div class="logo"><a href="#"><img src="{% static 'images/nutritionist-community.png' %}" alt="T" title="" style="width: 150px;"></a></div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="option-wrapper">
                            <div class="nav-outer">

                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-xl navbar-dark">

                                    <div class="collapse navbar-collapse">
                                        <ul class="navigation">
                                            <li class=""><a href="/">Home</a>
                                            </li>
                                            <li><a href="/about">About</a>
                                            </li>
                                            {% if user.account_type == "staff" %}
                                            <li><a href="/admin-resources">Library</a>
                                            </li>
                                             <li><a href="/admin_events">Events</a>
                                            </li>
                                            {% else %}
                                            <li><a href="/resources">Library</a>
                                            </li>
                                            <li><a href="/events">Events</a>
                                            </li>
                                            {% endif %}
                                            <li><a href="#">Blog</a>
                                            </li>
                                            <li><a href="/community">Community</a>
                                            </li>
                                            <li><a href="/#conact-us-now">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav><!-- Main Menu End-->
                            </div>
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="http://steelthemes.com/demo/html/Goodsoul_html/blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search...." required="">
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="navbar-btn-wrap">
                                <button class="anim-menu-btn">
                                  <i class="flaticon-menu"></i>
                                </button>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="link-btn">
                                <a href="/logout" class="theme-btn btn-style-one"><span>Logout</span></a>
                            </div>
                            {% else %}
                            <div class="link-btn">
                                <a href="/register" class="theme-btn btn-style-one"><span>Volunteer</span></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!--End Header Upper-->
        <div class="sticky-header">
            <div class="auto-container">
                <div class="wrapper-box">
                    <div class="logo-column">
                        <div class="logo-box">
                            <div class="logo"><a href="#"><img src="{% static 'images/nutritionist-community.png' %}" alt="" title="" style="width: 150px;"></a></div>
                        </div>
                    </div>
                    <div class="menu-column">
                        <div class="nav-outer">

                            <div class="nav-inner">

                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-xl navbar-dark">

                                    <div class="collapse navbar-collapse">
                                        <ul class="navigation">
                                        </ul>
                                    </div>
                                </nav><!-- Main Menu End-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="mobile-menu style-one">
            <div class="menu-box">
                <div class="logo"><a href="index-2.html"><img src="{% static 'images/nutritionist-community.png' %}" alt="" style="width: 100px;"></a></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-xl navbar-dark">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="flaticon-menu"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navigation">

                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
                <!--Search Box-->
                <div class="search-box-outer">
                    <div class="dropdown">
                        <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                        <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu4">
                            <li class="panel-outer">
                                <div class="form-container">
                                    <form method="post" action="http://steelthemes.com/demo/html/Goodsoul_html/blog.html">
                                        <div class="form-group">
                                            <input type="search" name="field-name" value="" placeholder="Search...." required="">
                                            <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Mobile Menu -->

        <div class="nav-overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
    </header>
    <!-- End Main Header -->

    <!-- Hidden Sidebar -->
    <section class="hidden-sidebar close-sidebar">
        <div class="wrapper-box">
            <div class="hidden-sidebar-close"><span class="flaticon-cross"></span></div>
            <div class="logo"><a href="#"><img src="{% static 'images/nutritionist-community.png' %}" alt="" title="" style="width: 200px;"></a></div>
            <div class="content">
                <div class="about-widget-four sidebar-widget">
                    <h3>To improve learning environment in primary schools</h3>
                    <div class="text">We denounce with righteous indignation and dislike men who we are to beguiled demoralized by the charms of pleasures that moment, so we blinded desires, that they indignations.</div>
                </div>
                <!-- News Widget -->
                <div class="news-widget-two sidebar-widget">
                    <div class="widget-title">News & Updates</div>
                    <div class="post-wrapper">
                        <div class="image"><a href="blog-details.html"><img src="{% static 'images/resource/post-thumb-1.jpg" alt=""></a></div>
                        <div class="category">LIFE SAVING</div>
                        <h4><a href="blog-details.html">Goodsoul partners with lafarge on national literacy competition</a></h4>
                    </div>
                    <div class="post-wrapper">
                        <div class="image"><a href="blog-details.html"><img src="{% static 'images/resource/post-thumb-2.jpg" alt=""></a></div>
                        <div class="category">Education</div>
                        <h4><a href="blog-details.html">Goodsoul improves education infrastructure</a></h4>
                    </div>
                </div>
                <!-- Newsletter Widget -->
                <div class="newsletter-widget-two">
                    <div class="widget-title">Newsletter Subscription</div>
                    <form action="#">
                        <input type="email" placeholder="Enter Email Address">
                        <button class="theme-btn btn-style-one w-100"><i class="flaticon-next"></i><span>Subscribe Us</span></button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Title -->
    <section class="page-title" style="background-image:url(/static/images/background/bg-13.jpg)">
        <div class="auto-container">
            <div class="content-box">
                <h1>{{resource.name}}</h1>
            </div>
        </div>
    </section>

    <!-- Causes Details -->
    <div class="sidebar-page-container cause-details">
        <div class="auto-container">
            <div class="row">
                <div class="col content-column">
                    <div class="content-box text-center my-5">
                        <h1>Material Contents</h1>
                    </div>
                    <div class="event-tab-two">
                        <div class="tab-content">
                            <div class="tab-pane fadeInUp animated active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="row">
                                <div class="col-lg-6 mx-auto">
                                        <div class="image mb-30"><img src="{{resource.image_cover}}" alt="" style="width: 100%; height: 450px; object-fit: cover;"></div>
                                    </div>
                                <div class="col-lg-6">
                                        <div class="content d-flex flex-column align-items-spece-between mx-2 my-2">
                                            <h2 class="mb-4">Material Info</h2>
                                            <div class="info-box my-4">
                                                <h5>Author: The Global Nutritionist Community</h5>
                                            </div>
                                            <div class="info-box my-4">
                                                <h5>Phone: <a href="tel:+2349064420665">+(234)-906-442-0665</a></h5>
                                            </div>
                                            <div class="info-box my-4">
                                                <h5>Email: <a href="globalnutritioncommunity@gmail.com">globalnutritioncommunity@gmail.com</a></h5>

                                            </div>
                                            <div class="info-box my-4">
                                                <h5>Download(s): <span id="download_dynamic">{{resource.downloads}}</span></h5>
                                            </div>
                                            <div class="info-box my-4">
                                                <h5>Date Uploaded: {{resource.date}}</h5>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </div>
                        </div>
                     </div>
                    <div class="sec-title mb-40">
                        <h1 class="text-center my-5">{{resource.name}}</h1>
                         <div class="row mt-3">
                            <div style="padding: 10px 15px; width: 100%; color: #424040; list-style: decimal !important;" id="exclude-section">{{resource.description|safe}}</div>
                        </div>
                        <div class="col">
                            <h1 class="text-center my-5">Download Material(s)</h1>
                            {% for item in resource.files %}
                            <div class="form-group m-auto">
                                <a class="theme-btn btn-style-two rounded" onclick="update_download({{resource.id}})" href="{{item.url}}"><span><span class="fa fa-download mr-2"></span>#{{item.name|slice:24}}...</span></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <section class="team-section-four">
                        <div class="auto-container">
                            <div class="sec-title">
                                <h1>Materia Media</h1>
                                <span class="border-bottom"></span>
                            </div>
                            <div class="wrapper-box">
                                <div class="four-item-carousel owl-theme owl-carousel owl-nav-style-two owl-dots-none">
                                    <!-- Team Blokc Four -->
                                    {% for mini_image in resource.images %}
                                    <div class="team-block-four">
                                        <div class="inner-box">
                                            <div class="image"><a href="#"><img src="{{mini_image}}" alt="" style="width: 400px; height: 350px; object-fit: cover; border-radius: 0px;"></a></div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <div class="widget-wrapper">
                <div class="row">
                    <!-- Contact Widget -->
                    <div class="col-lg-3 col-md-6 contact-widget footer-widget">
                        <h4 class="widget-title">Contact</h4>
                        <ul>
                            <li>Ibadan, <br> Oyo - Nigeria, <br>West Africa.</li>
                            <li><a href="mailto:globalnutritioncommunity@gmail.com">globalnutritioncommunity@gmail.com</a></li>
                        </ul>
                        <h3><a href="tel:+2349064420665">+(234)-906-442-0665</a></h3>
                    </div>
                    <!-- About Widget -->
                    <div class="col-lg-3 col-md-6 about-widget footer-widget">
                        <h4 class="widget-title">About</h4>
                        <ul>
                            <li><a href="/about">About-Us</a></li>
                            <li><a href="/about#team">Our-Team</a></li>
                            <li><a href="/events">Upcoming Events</a></li>
                            <li><a href="/blog">Trending News</a></li>
                        </ul>
                    </div>
                    <!-- Link Widget -->
                    <div class="col-lg-3 col-md-6 link-widget footer-widget">
                        <h4 class="widget-title">Quick Link</h4>
                        <ul>
                            <li><a href="/community">Community</a></li>
                            <li><a href="/donate">Donate Now</a></li>
                            <li><a href="/sponsor">Become a Sponsor</a></li>
                            <li><a href="/#conact-us-now">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- Newsletter Widget -->
                    <div class="col-lg-3 col-md-6 newsletter-widget footer-widget">
                        <h4 class="widget-title">Newsletter</h4>
                        <div class="text">Subscribe us and get latest news & <br>upcoming events.</div>
                        <form action="#">
                            <input type="email" placeholder="Emial Address...">
                            <button class="submin-btn"><span class="flaticon-next"></span>Subscribe Us</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="left-content">
                    <h1 style="color: #04a128; font-weight: 800;">TGNC</h1>
                </div>
                <div class="right-content">
                    <ul class="social-icon-three">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-skype"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-arrow"></span></div>

</div>
<!--End pagewrapper-->



<!-- JS -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/menu-nav-btn.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/knob.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'js/script.js' %}"></script>
    <script>
        var update_download = (download_id) => {
        $.ajax({
			type: 'POST',
			url: "{% url 'resources_download' %}",
			data: {
			    "material_id": download_id,
			},
			success: function(response)
			{
                if(response.message == "success")
                {
                    $("#download_dynamic").html(response.resources_downloads)
                }
            }
        });
        }
    </script>
</body>

</html>